*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

.header{
	width: 100%;
	padding: 15px 0px;
	background: #fff;
}
.header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f4f87;
    letter-spacing: 1px;
    margin: 0px 0px 0px 15px;
    transition: 1s;
}


.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
	color: #f2622c;
} 
.banner-section{
	width: 100%;
	padding: 180px 0px 80px;
	background: url("../images/slider.png") center top no-repeat;
	background-size: cover;
}
.banner-section h1{
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.arrow{
	width: 100%;
	padding: 150px 0px 0px;
	text-align: center;
}
.arrow .fa{
	color: #fff;
	font-size: 35px;
}
.about-us{
	width: 100%;
	padding: 80px 0px;
}
.about-inner{
	width: 100%;
	margin: 50px 0px 0px;
}
.about-us .about-inner.title{
	width: 100%;
	padding: 0px 0px 20px;
}
.about-us .about-inner .title .divider{
	width: 75px;
	height: 3px;
	background: #f2622c; 
	margin: 0px 0px 15px;

}
.about-us .about-inner .title h2{
	font-size: 42px;
	line-height: 52px;
	font-weight: 700;
	color: #28377e;
	text-transform: uppercase;
}
.about-us .about-inner p{
	font-size: 14px;
	line-height: 24px;
	color: #b0b0b1;
}
.what-do{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/dobg.png") center top no-repeat; 
	background-size: cover;
}
.what-do .title{
	width: 100%;
	padding: 0px 0px 100px;
}
.what-do .title .divider{
	width: 75px;
	height: 3px;
	background: #f2622c; 
	margin: 0px auto 15px;

}
.what-do .title h2{
	font-size: 42px;
	line-height: 52px;
	font-weight: 700;
	color: #28377e;
	text-transform: uppercase;
	text-align: center;
}
.what-do .inner-do .img-fluid{
	width: 100%;
}
.inner-do{
	width: 100%;
	position: relative;
}

.inner-content{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 0%;
	transform: translate(-0%, 0%);
}
.inner-content h5{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
}
.long-arrow{
	position: absolute;
	width: 100%;
	top: 30%;
	transform: translate(0%, 0%);
}
.attorney{
	width: 100%;
	padding: 110px 0px;
	background: url("../images/atbg.png") center top no-repeat; 
	background-size: cover;
}
.attorney .title{
	width: 100%;
	padding: 100px 0px 20px;
}
.attorney .title .divider{
	width: 75px;
	height: 3px;
	background: #f2622c; 
	margin: 0px 0px 15px;

}
.attorney .title h2{
	font-size: 42px;
	line-height: 52px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
}
.attorney p{
	width: 80%;
	font-size: 14px;
	line-height: 24px;
	color: #929dcf;
}
.attorney .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #f2622c;
	text-transform: uppercase;
}
.attorney .btn-link:hover{
	color: #fff;
}
.attorney .inner-do .img-fluid{
	width: 100%;
}
.attorney .inner-do{
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.attorney .inner-do .inner-content{
	text-align: left;
	position: absolute;
	width: 100%;
	height: auto;
	top: 80%;
	left: 0%;
	transform: translate(10%, 0%);
}
.attorney .inner-do .inner-content h5{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
}
.language{
	width: 100%;
	padding: 80px 0px;
}
.language .title{
	width: 100%;
	padding: 0px 0px 80px;
}
.language .title .divider{
	width: 75px;
	height: 3px;
	background: #f2622c; 
	margin: 0px auto 15px;

}
.language .title h2{
	font-size: 42px;
	line-height: 52px;
	font-weight: 700;
	color: #28377e;
	text-transform: uppercase;
	text-align: center;
}
.language h5{
	font-size: 22px;
	line-height: 32px;
	font-weight: 700;
	color: #28377e;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px 0px 15px;
}
.language p{
	font-size: 14px;
	line-height: 24px;
	color: #b0b0b1;
}
.language .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #f2622c;
	text-transform: uppercase;
}
.language .btn-link:hover{
	color: #28377e;
}
.contact-us{
	width: 100%;
	padding: 80px 0px;
	background: #28377e;
}
.contact-us .title{
	width: 100%;
	padding: 0px 0px 80px;
}
.contact-us .title .divider{
	width: 75px;
	height: 3px;
	background: #f2622c; 
	margin: 0px auto 15px;

}
.contact-us .title h2{
	font-size: 42px;
	line-height: 52px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.main-form{
	width: 100%;
}
.main-form .form-control {
    width: 100%;
    padding: 12px 0px;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000 !important;
}
.main-form input::placeholder,.main-form text-area::textarea{
	color: #fff !important;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}


element.style {
}

.main-form .btn-info{
    padding: 10px 75px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #f2622c;
    background: #f2622c !important;
    margin: 20px 20px 0px 0px;
    transition: 1s;
}

.main-form .btn-info:hover{
	color: #f2622c;
	background: #fff !important;
	border-radius: 2px;
}
.main-form .btn-info:focus{
	color: #f2622c !important;
	background: #fff !important;
	border-radius: 2px;
}
.footer {
    background: #0c1234;
    padding: 30px 0px 15px 0px;
    text-align: center;
}
.footer .footer-inner-left p{
    color: #616ca8;
    text-align: center;
}
.footer .footer-inner-left a{
	color: #616ca8;
	text-decoration: none;
	transition: 1s;
	letter-spacing: 1px;
}
.footer .footer-inner-left a:hover{
	color: #f2622c;
}
.footer .footer-inner-right{
	width: 100%;
}
.footer .footer-inner-right ul{
	list-style: none;
	display: block;	
}
.footer .footer-inner-right li{
    display: inline-block;
    text-align: center;
    margin: 0PX 15PX 0PX;
    padding: 0PX 0PX 0PX;
}
.footer .footer-inner-right li a{
	color: #fff;
	transition: 1s;
}
.footer .footer-inner-right li a:hover{
	color: #f2622c;
}


